<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <include resource="logback/base.xml"/>
  <include resource="logback/logger/file-logger.xml"/>
  <include resource="logback/logger/discord-error-logger.xml"/>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

  <springProperty name="LOG_DIR" scope="context" source="logback-config.log-directory"/>

</configuration>
